@import './base.css';

body{
  background: radial-gradient(#c9c7c7, transparent);
}
#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 20px 0;
}

.cust-input-style{
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  outline: none;
}
:where(.css-dev-only-do-not-override-eq3tly).ant-table-wrapper .ant-table-thead >tr>th, :where(.css-dev-only-do-not-override-eq3tly).ant-table-wrapper .ant-table-thead >tr>td{
  width: 25% !important;
}